<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KeepCoins</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
    <script src="../static/js/app.js"></script>
</head>
<body>
    <header>
        <h1>myCrypto</h1>
    </header>
    <section>
        <table name="table_registros" id="table_registros">
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>From</th>
                <th>Cantidad</th>
                <th>To</th>
                <th>Cantidad</th>
            </tr>
        </table>
        <br>
        <label>From:</label>
        <select id="select_moneda_from">
            <option value="EUR">EUR</option>
            <option value="BTC">BTC</option>
            <option value="ETH">ETH</option>
            <option value="USDT">USDT</option>
            <option value="BNB">BNB</option>
            <option value="XRP">XRP</option>
            <option value="ADA">ADA</option>
            <option value="SOL">SOL</option>
            <option value="DOT">DOT</option>
            <option value="MATIC">MATIC</option>
        </select>
        <label>To:</label>
        <select id="select_moneda_to">
            <option value="EUR">EUR</option>
            <option value="BTC">BTC</option>
            <option value="ETH">ETH</option>
            <option value="USDT">USDT</option>
            <option value="BNB">BNB</option>
            <option value="XRP">XRP</option>
            <option value="ADA">ADA</option>
            <option value="SOL">SOL</option>
            <option value="DOT">DOT</option>
            <option value="MATIC">MATIC</option>
        </select>
        <br>
        <label>Quantity:</label>
        <input type="text"></input>
        <button id="btn_tasa">calculator</button>
        <label>Quantity:</label>
        <input type="text" readonly></input>
        <br>
        <label>P.U:</label>
        <input type="number" readonly></input>
        <br>
        <button>OK</button>
        <br>
        <br>
        <label>Invertido:</label>
        <input type="number" readonly></input>
        <br>
        <label>Recuperado:</label>
        <input type="number" readonly></input>
        <br>
        <label>V. de compra:</label>
        <input type="number" readonly></input>
        <br>
        <label>V. actual:</label>
        <input type="number" readonly></input>
    </section>
    <footer>
        <strong class="footer">&copy; 2024 - Todos los derechos reservados. - Juan Rafael Sánchez García</strong>
    </footer>
</body>
</html>