/* base.html */
/* Body */
body {
    padding-bottom: 5vh;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    background-color: #D1D2F9;
}

/* Header */
header {
    height: 10vh;
    position: relative;
    top: 0vh;
    background-color: #A3BCF9;
}

header strong {
    position: absolute;
    top: 1.7vh;
    left: 8vw;
    font-size: 4vh;
}

.alert {
    position: absolute;
    display: inline;
    bottom: 0;
} 

/* Footer */
footer {
    width: 100%;
    height: 5vh;
    position: fixed;
    bottom: 0;
    background-color: #A3BCF9;
}

footer strong {
    position: relative;
    top: 1.1vh;
    left: 8vw;
    font-size: 2vh;
}

a {
    color: #576490;
}

/* index.html */
/* Div principal */
.div_container1 {
    overflow: hidden;
    margin-top: 4vh;
    margin-left: 8vw;
    margin-right: 8vw;
}

/* Div de la tabla */
.div_table {
    max-height: 385.5px;
    float: left;
}

/* Tabla */
table {
    display: block;
    height: 385.5px;
    position: relative;
    margin-right: 9.9em;
    overflow-y: auto;
}

tr {
    height: 35px;
    border-bottom: solid 1.7px #A3BCF9;
}

th {
    padding-right: 8vw;
    font-size: 1.2em;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
background: #A3BCF9; 
}

::-webkit-scrollbar-thumb {
background: #576490; 
}

/* Div del estado de cuenta */
.div_status {
    float: left;
}

/* Estado de cuenta */
.label_titulo {
    margin-right: 0.2em;
    font-size: 1.2em;
    font-weight: bold;
}

.span_update {
    position: relative;
    top: 5px;
    color: #576490;
    cursor: pointer;
}

/* Botón new*/
.btn-lg {
    width: 158.67px;
    border: none;
    background-color: #576490;
    color: white;
}

.btn-lg:hover {
    background-color: #A3BCF9;
    color: white;
}

/* Div secundario */
.div_container2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
    margin-left: 8vw;
    margin-right: 8vw;
}

.div_form_size {
    height: 282.31px;
    width: 784.92px;
}

form {
    display: none;
}

/* Div del formulario */
.div_form {
    position: relative;
    display: inline-block;
    margin-top: 3vh;
    margin-right: 9.7em;
}

/* Formulario */
.label_select {
    margin-right: 0.5em;
}

.select_moneda {
    width: 12em;
    display: inline-block;
}

.input_cantidad_from {
    width: 10.3em;
    display: inline-block;
}

.span_calculate {
    position: absolute;
    display: inline-block;
    color: #576490;
    cursor: pointer;
}

.label_cantidad_to {
    width: 9em;
    display: inline-block;
    border: none;
    box-shadow: none;
    border-bottom: solid 1.7px #A3BCF9;
}

.div_space1 {
    display: inline-block;
    margin-right: 25.1em;
}

.label_pu {
    width: 11.7em;
    display: inline-block;
    border-bottom: solid 1.7px #A3BCF9;
}

.div_space2 {
    display: inline-block;
    margin-right: 29.4em;
}

.btn-md {
    border: none;
    margin-bottom: 2em;
    background-color: #576490;
    color: white;
}

.btn-md:hover {
    background-color: #A3BCF9;
}

.div_alert {
    height: 10em;
    width: 25em;
    position: relative;
    display: inline-block;
    margin-top: 3vh;
    margin-left: 12vw;
}

.alert {
    display: none;
}