/* Body */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    background-color: #D1D2F9;
}

/* Header */
header {
    height: 6em;
    width: 100%;
    top: 0;
    background-color: #A3BCF9;
}

header strong {
    position: relative;
    top: 0.4em;
    left: 8vw;
    font-size: 2.5em;
}

menu {
    position: relative;
    display: flex;
    float: right;
    margin-top: 1.7em;
    margin-right: 7vw;
    list-style: none;
    font-size: 1.2em;
    font-weight: bold;
}

menu li {
    margin-right: 3vw;
    cursor: pointer;
}

#menu_li_balance {
    cursor: default;
    pointer-events: none;
}

/* Footer */
footer {
    height: 3em;
    width: 100%;
    margin-top: auto;
    background-color: #A3BCF9;
}

footer strong {
    position: relative;
    top: 0.55em;
    left: 8vw;
    font-size: 1.2em;
    white-space: nowrap;
}

a {
    color: #576490;
}

/* index.html */
/* Div principal */
.section_container1 {
    overflow: hidden;
    margin-top: 3em;
    margin-left: 8vw;
    margin-right: 4vw;
}

/* Div de la tabla */
.div_table_index {
    max-height: 385.5px;
    max-width: 1243.09px;
    float: left;
    margin-right: 6.5vw;
    margin-bottom: 35px;
}

/* Tabla */
.table_records {
    display: block;
    max-height: 385.5px;
    max-width: 1243.09px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

tr {
    height: 35px;
    border-bottom: solid 1.7px #A3BCF9;
}

table.table_records th {
    padding-right: 8vw;
    font-size: 1.2em;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
background: #A3BCF9; 
}

::-webkit-scrollbar-thumb {
background: #576490; 
}

/* Div del estado de cuenta */
.div_status {
    float: left;
}

/* Balance de cuenta */
.label_titulo {
    margin-right: 0.2em;
    font-size: 1.2em;
    font-weight: bold;
}

.span_update {
    position: relative;
    top: 5px;
    color: #576490;
    cursor: pointer;
}

/* Balance crypto */
#div_resumen {
    display: none;
}

#label_balance {
    position: relative;
    margin-top: 4px;
}

#label_resumen {
    position: relative;
    margin-top: 3px;
}

.table_cryptos {
    display: block;
    max-height: 350.5px;
    margin-top: 4px;
    overflow-y: auto;
    overflow-x: hidden;
}

table.table_cryptos th {
    padding-right: 4vw;
}

/* Botón new */
.btn-lg {
    width: 65vw;
    border: none;
    background-color: #576490;
    color: white;
}

.btn-lg:hover {
    background-color: #A3BCF9;
}

/* Div secundario */
.section_container2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 8vw;
    margin-right: 8vw;
}

.div_form_size {
    height: 282.31px;
    width: 784.92px;
}

form {
    display: none;
}

/* Div del formulario */
.div_form {
    position: relative;
    display: inline-block;
    margin-top: 3.5vh;
    margin-right: 9.7em;
}

/* Formulario */
.label_select {
    margin-right: 0.5em;
}

.select_moneda {
    width: 12em;
    display: inline-block;
}

.input_cantidad_from {
    width: 10.3em;
    display: inline-block;
}

.span_calculate {
    position: absolute;
    display: inline-block;
    color: #576490;
    cursor: pointer;
}

.label_cantidad_to {
    width: 9em;
    display: inline-block;
    border: none;
    box-shadow: none;
    border-bottom: solid 1.7px #A3BCF9;
}

.div_space1 {
    display: inline-block;
    margin-right: 25.1em;
}

.label_pu {
    width: 11.7em;
    display: inline-block;
    border-bottom: solid 1.7px #A3BCF9;
}

.div_space2 {
    display: inline-block;
    margin-right: 29.4em;
}

.btn-md {
    border: none;
    margin-bottom: 2em;
    background-color: #576490;
    color: white;
}

.btn-md:hover {
    background-color: #A3BCF9;
}

.div_alert {
    height: 10em;
    width: 35em;
    position: relative;
    display: inline-block;
    margin-top: 8vh;
    margin-left: 12vw;
}

.alert_index {
    position: absolute;
    display: none;
    margin-top: 4vh;
}

/* resument.html */
.section_container3 {
    overflow: hidden;
    margin-top: 3em;
}
.table_resumen {
    margin-left: auto;
    margin-right: auto;
}

.table_resumen_td {
    text-transform: uppercase;
}

.btn-sm {
    border: none;
    background-color: #576490;
    color: white;
}

.btn-sm:hover {
    background-color: #A3BCF9;
}

/* login.html */
.div_login {
    text-align: center;
}

h3 {
    font-weight: bold;
}

.div_login_parts {
    margin-top: 3vh;
}

.label_error {
    position: relative;
    /* display: none; */
    left: 1em;
    font-size: 0.8em;
    color: red;
}

.login_error_email {
    margin-right: 1em;
}

.login_error_password {
    margin-left: 1.4em;
}

.input_login {
    width: 17em;
    display: inline-block;
}

.div_login_barra {
    margin-top: 2vh;
    color: #A3BCF9;
    font-weight: bold;
}

.div_login_register {
    margin-top: 4vh;
    margin-left: 0.1em;
    margin-bottom: 3em;
}

.btn_login {
    width: 13.5em;
}

/* register.html */
.div_alert_register {
    height: 10em;
    width: 35em;
    display: inline-block;
}

.input_login_small {
    width: 10em;
    display: inline-block;
}

.input_login_big {
    width: 20.2em;
    display: inline-block;
}

.btn_register {
    width: 16.2em;
}

.alert_register {
    display: none;
}